<article class="toppage clearfix">
  <div class="kuritter">
    <%= image_tag 'kuritter.jpg' , style: 'height:auto;width:100%;' %>
  </div>
  <div class="inner">
    <h3>
      当アプリは、リアルタイムに思いついたアイデアや見つけた情報を一瞬にして共有してすべての人に提供することができるアプリです。
    </h3>
  </div>
</article>
